---
import BaseLayout from '../layouts/BaseLayout.astro'
import TailComponent from '../components/navbars/Navbar5.astro'
---

    <BaseLayout>
    <TailComponent />
    <h1 class="container mx-auto bg-red-100">Tails Components</h1>
    <p>Header 1</p>
    </BaseLayout>